body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.contentDiv{
  width:75%;
  height:100%;
  float: right;

}


section {

  border : 1 px;
  background-color: aqua;
}
.imageStretch{
  width: 100%;
}



#loginForm {
  width : 350px;
  height : 350px;
  margin-top:5%;
  margin-left: 5%;
  
}

#formPlusnavnar {
  width : 450px;
  height : 350px;
  margin-top:15%;
  margin-left: 35%;
  border-color: darkorange;
  
}

.sidenavs{
  margin:0.25%;
  background-color:blueviolet;
  
}
.myNavbar{
  background-color: blueviolet;
  
}

#submitAndCancelbuttons{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn-width{
width: 150px;
height:35px;
margin: 1px;
}

.loginForm{
  border-width: 2px;
  border-color: chocolate;
}
.text-font{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
} 

.glow {
  font-size: 80px;
  
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.card-width{
  width: 20em;
  height: 30em;
  float: left;
  margin : 2%;
  border-radius: 1em;
}
.content{
  overflow:auto;
}
table{
  border-radius: 1em;
}
a:active{
  color:lime;
}

.dashboardTable{
  border-radius: 1%;
  display:block;
  overflow:scroll;
  height:700px;
  width:62em;
  border-bottom-width: 1px solid;
  border-color: #fff;
  margin-top: 2px;
  margin-right: 3em;
  overflow-x: scroll;
}
.otherTeamsIMRTable{
  border-radius: 1%;
  display:block;
  overflow:scroll;
  height:400px;
  width:fit-content;
  border-bottom-width: 1px solid;
  border-color: #fff;
  overflow-x: scroll;
}
.cell_header{
  border: 1px solid;
  border-right-color: #fff;
  font-weight: 600;
}
.cell_data_imr{
  border: 1px solid;
  border-right-color:cornflowerblue;
  font-size: 0.8em;
}
.cell_data{
  border: 1px solid;
  border-right-color:cornflowerblue;
  font-size: 0.8em;
}
.bigtextAreas{
  width: 400em;
}
.incNumberWithUrgency{
  width:100em;
}
.pvtUi {
  width:700px;
  height:500px;
  border-width:1px solid;
  border-color: blue;
  scroll-behavior: auto;
}
.chartFrame{
  width: 90%;
  position: absolute;
}
.smallerButton{
  width:0.7em;
  height:0.7em;
}
.chartFrame{
  width:600px;
  height:600px;
}
.barAreaForLessThan7Days{
  background-color: #fbf1a9;
  border-radius: 3%;
}


.imrDetails{
  width:1000px;
  height:780px;
  border-radius: 2%;
  margin-left: 5%;
  font-size: 0.8em;
}

.newIMRForm div{
  border-width:100px solid;
  border-color: blue;
  vertical-align: middle;
}
.rightMostElement{
  margin-right:0.1em;
}
.compactRows{
  height:1em;
  border-width: 1px solid;
}
.textAlign{
  margin-left: 50px;
}

.newIMRForm Select{
  height:0.3em;
}
.notesArea{
  height: 100px;
}
.SLALossArea{
  height: 50px;
  width:600px;
  
}
.assignedOnClassName{
  margin-left: 0%;
}
.subjectLineArea{
  height: 50px;
  width: 500px;
}
.showFilter{
  color: cornsilk;
  font-weight: 700;
  
}
.selectBtn{
  width: 30%;
  color: blue;
  
}
.visbiityHidden{
  visibility: hidden;
}
.hideFilter{
  overflow: hidden;
}
.showText{
  color: blueviolet;
  font-size: 1em;
  font-weight: 700;
}
.advDashboardTable{
  border-radius: 1%;
  display:block;
  overflow:scroll;
  height:700px;
  width:1000px;
  border-bottom-width: 1px solid;
  border-color: #fff;
  margin-top: 2px;
  margin-right: 3em;
  overflow-x: scroll; 
  color: blue;
}
.hideSections{
  visibility: hidden
}
.submitPosition{
  margin-left: 500px;
  
}
.positionPieChart{
  margin-right:800px;
}

/*
=================================================================================================================
*/

body {
  background-image: url('images/bgImage.jpg');
  background-size: cover;
  
}

/* body {
  background-color: #283593;
  background-size: cover;
  
} */

.beautifyForm{
  margin-top:35%;
  background-color: blue;
  width:100%;
}
.headerSection{
  width:100%;
}
#navBarDiv{
  width:100%;
  height: 10%;
}
.verticalCenter{
  margin-top:16px;
}
.logoSection{
width:40%;
float:left;
}
.verticalCenter{
  width:60%;
  float:left;
}
.logo{
  width:10em;
  height:3em;
  margin-left:5%;
  margin-top:0.3em;
  border-color: gold;
  border-width: 1em;
}
.navLinkItem{
  width:100%;
}
.navButtons{
  margin-bottom: 1px;
  position: relative;
  margin: 1px;
  width:100%;  
}
.linksSection{
  width:20%;
  float:left;
}
.contentSection{
  width:75%;
  float:left;
  }

.textCenterAlign{
  margin-left:40%;
}
.formFields{
  width:20%;
  border-width:1px solid;
}
.rightAlignFormField{
  margin-right: 0px;
}
.datePickerWidth{
  width:100%
}
.rowWidth{
  height:10px;
}
.textFields{
  width: 70%;
}
.blankForm td{
  border-width: 1px solid;
}
.textAreaWidth{
  width:100%
}
.newIMRForm{
  width:100%;
  height:100%;
  border-radius: 2%;
  margin-left: 5%;
  font-size: 0.8em;
}
.offsetRight{
  margin-left:5%;
}
.filterInitiator{
  width:10%;
  float:left;
}
.filterDropDown{
  width:20%;
  float:left;
}
.selectBtnForChangingFilter{
  height:0.1em;
}