body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#navBarDiv{
  width:100%;
  margin-left:0px;
  height: 10%;
}

.contentDiv{
  width:75%;
  height:100%;
  float: right;

}
.navButtons{
  margin-bottom: 1px;
  width: 20em;
  position: relative;
  margin: 1px;
  
  
}

section {

  border : 1 px;
  background-color: aqua;
}
.imageStretch{
  width: 100%;
}


body {
  background-image: url('images/bgImage.jpg');
  background-size: cover;
  
}

#loginForm {
  width : 350px;
  height : 350px;
  margin-top:5%;
  margin-left: 5%;
  
}

#formPlusnavnar {
  width : 450px;
  height : 350px;
  margin-top:15%;
  margin-left: 35%;
  border-color: darkorange;
  
}

.sidenavs{
  margin:0.25%;
  background-color:blueviolet;
  
}
.myNavbar{
  background-color: blueviolet;
  
}

#submitAndCancelbuttons{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn-width{
width: 150px;
height:35px;
margin: 1px;
}

.loginForm{
  border-width: 2px;
  border-color: chocolate;
}
/* .text-font{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
} */
.logo{
  width:10em;
  height:3em;
  margin-left:2%;
  margin-top:0.5em;
  border-color: gold;
  border-width: 1em;
}

.glow {
  font-size: 80px;
  
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.card-width{
  width: 20em;
  height: 30em;
  float: left;
  margin : 2%;
  border-radius: 1em;
}
.content{
  overflow:auto;
}
table{
  border-radius: 1em;
}
a:active{
  color:lime;
}

.dashboardTable{
  border-radius: 1%;
  display:block;
  overflow:scroll;
  height:650px;
  width:62em;
  border-bottom-width: 1px solid;
  border-color: #fff;
  margin-top: 2px;
  margin-right: 3em;
  overflow-x: scroll;
}
.cell_header{
  border: 1px solid;
  border-right-color: #fff;
  font-weight: 600;
}
.cell_data_imr{
  border: 1px solid;
  border-right-color:cornflowerblue;
  font-size: 0.8em;
  width: 10em;
}
.cell_data{
  border: 1px solid;
  border-right-color:cornflowerblue;
  font-size: 0.8em;
}
.bigtextAreas{
  width: 400em;
}
.smallerButton{
  width:0.7em;
  height:0.7em;
}
.chartFrame{
  width:600px;
  height:600px;
}
.barAreaForLessThan7Days{
  background-color: #fbf1a9;
  border-radius: 3%;
}
.newIMRForm{
  width:100%;
  height:680px;
  border-radius: 2%;
  margin-left: 5%;
  font-size: 0.8em;
}

.newIMRForm div{
  border-width:100px solid;
  border-color: blue;
  vertical-align: middle;
}
.rightMostElement{
  margin-right:0.1em;
}
.compactRows{
  height:1em;
  border-width: 1px solid;
}
.textAlign{
  margin-left: 50px;
}

.newIMRForm Select{
  height:0.3em;
}
.notesArea{
  height: 100px;
}
